# I might create a few sample files during demos.
script.py
hello.py

# slide_state.json is created by slide.py
slide_state.json

# Skip .duckdb files for dlt demo.
*.duckdb

# Skip PDF files for markitdown demo.
*.pdf

# Skip SQLite DBs for datasette demo.
*.db

# Skip .csv files for LLM demo.
*.csv
